*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/


.encabezado
              {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: left;
   

}

header { 
   background-color: #420000;
   border: #420000 1px none;
   padding: 60px;
   margin:auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}
nav{ 
 width: 40%;
}

header a  {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;

    
  
    }

    li {
        list-style-type: none;
    }

    .box {
        border: #420000 1px none;
        padding: 3px;
        margin: 1px;
        
    }

    .flex-nav {
        display: flex;
        justify-content: space-between;
        height: 100%;

    }

    
    
/*footer*/




footer {
    background-color:#420000 ;
    border: #420000 1px none;
    padding: 40px;
    }

    footer a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        border: #420000 1px none;
        padding: 3px;
        margin: 1px;
    }

    footer section {
        text-align: right;
    }




    /* home*/




main {
 background-color: rgb(90, 84, 84);   
}

.pagina-principal{
    background-image: url(../media/home.jpg) ;
    height: 700px ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;


}

.parrafo-home {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: right;
    margin-right: 3%;
    
    


    


    
}



h1{
    color: rgb(255, 254, 254);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: left;
    
}

h2 { 
    color: rgb(255, 254, 254);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    border: black 1px none;
    margin: auto;
    padding-bottom: 20px;
}







/*historia*/

.titulo-introduccion
 {color: rgb(253, 254, 255);
font-family: "Montserrat", sans-serif ;
font-size: 60px;
text-align: center;
border: rgb(90, 84, 84) 1px none;
padding: 20px;
margin: auto;
}

.parrafo-introduccion {
    color: rgb(246, 248, 249);
    font-family: "Montserrat", sans-serif;
   font-size: 25px;
    border: rgb(90, 84, 84) 1px none;
    padding: 30px 15px 250px 30px;
    margin: auto;
}






/*peliculas*/
.peliculas-titulo {
    color: rgb(252, 253, 253);
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    text-align: center;
}

ol {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-decoration: underline;
    list-style-type: none;
}

.box-pelicula{
    border: rgb(90, 84, 84) 1px none;
    padding: 20px;
    margin: 20px;
}



/*bloopers*/

.bloopers-titulo {
    color: rgb(253, 254, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: center;
    border: rgb(90, 84, 84) 1px none;
    padding-bottom: 20px;
    margin: auto;
}

.galeria-titulo {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    border: rgb(90, 84, 84) 1px none;
    padding: 20px;
    margin: 20px;
}

.videos-bloopers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.videos-bloopers1 { 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.medida-imagen 
{margin-left: 35%;  

    height: 300px;                                              
    width: 480px;
}


/*Contacto*/

.titulo-contacto {
    color: rgb(252, 254, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    text-align: center;
    border: rgb(90, 84, 84) 1px none;
    padding: 4px;
    margin: auto;
}

section form {
    color: rgb(252, 252, 252);
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 30px;
    border: rgba(255,254,254,0.56) 5px none;
    padding-bottom: 50px;
    margin: auto;

}

label{
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif ;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    border: rgba(255,254,254,0.56) 5px none;
    padding: 7px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    

}

.comentario-cuadro {
    padding: 5%;
}

.input-cuadro {
    padding: 10px;
}



/* mediaQ telefono*/

@media (min-width:0px) and (max-width:480px){
/*header y footer */

    .encabezado {width: 100%;}

    header {
      
        flex-direction: column;
        justify-content: center;
        
    }
.flex-nav{
    width: 100%;
    flex-direction: column;
}

/* home */
.parrafo-home {
    text-align: center;
    font-size: 10px;

}


footer section {
    text-align: center;
}

/* peliculas */

ol iframe {
    width: 100%;
}

/*bloopers */

main section ul iframe{
    width: 100%;
}
.videos-bloopers {
    flex-direction: column;

}                                                   
.videos-bloopers1 {
    flex-direction: column                                                                                                      ;
}
.medida-imagen {
   margin-left: 0%;
    width: 100%;
    height: 100%;
}
}                                                            