* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
header {
  background-color: #420000;
  border: #420000 1px none;
  padding: 60px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .animate__flipInX {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: left;
}

nav {
  width: 60%;
}

header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

li {
  list-style-type: none;
}

.box {
  border: #420000 1px none;
  padding: 3px;
  margin: 1px;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

/*footer*/
footer {
  background-color: #420000;
  border: #420000 1px none;
  padding: 40px;
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border: #420000 1px none;
  padding: 3px;
  margin: 1px;
}

footer section {
  text-align: right;
}

/* home*/
main {
  background-color: rgb(90, 84, 84);
}
main h1 {
  color: rgb(255, 254, 254);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: left;
}
main h2 {
  color: rgb(255, 254, 254);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  border: black 1px none;
  margin: auto;
  padding-bottom: 20px;
}

.parrafo-home {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: right;
  margin-right: 3%;
}

.pagina-principal {
  background-image: url(../media/home.jpg);
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

/*historia*/
.titulo-introduccion {
  color: rgb(253, 254, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  text-align: center;
  border: rgb(90, 84, 84) 1px none;
  padding: 20px;
  margin: auto;
}

.parrafo-introduccion {
  color: rgb(246, 248, 249);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  border: rgb(90, 84, 84) 1px none;
  padding: 30px 15px 250px 30px;
  margin: auto;
}

/*bloopers*/
.animate__hinge {
  color: rgb(253, 254, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
  border: rgb(90, 84, 84) 1px none;
  padding-bottom: 20px;
  margin: auto;
}

.bloopers-titulo {
  color: rgb(253, 254, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
  border: rgb(90, 84, 84) 1px none;
  padding-bottom: 20px;
  margin: auto;
}

.galeria-titulo {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  border: rgb(90, 84, 84) 1px none;
  padding: 20px;
  margin: 20px;
}

.videos-bloopers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.videos-bloopers1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.medida-imagen {
  margin-left: 35%;
  height: 315px;
  width: 560px;
}

/*Contacto*/
.titulo-contacto {
  color: rgb(252, 254, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  text-align: center;
  border: rgb(90, 84, 84) 1px none;
  padding: 4px;
  margin: auto;
}

section form {
  color: rgb(252, 252, 252);
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 30px;
  border: rgba(255, 254, 254, 0.56) 5px none;
  padding-bottom: 50px;
  margin: auto;
}

label {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  border: rgba(255, 254, 254, 0.56) 5px none;
  padding: 7px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
label .comentario-cuadro {
  padding: 5%;
}
label .input-cuadro {
  padding: 10px;
}

/*peliculas*/
.peliculas-titulo {
  color: rgb(252, 253, 253);
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  text-align: center;
}

.videos-peliculas {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.videos-peliculas1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.videos-peliculas2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.box-pelicula {
  border: rgb(90, 84, 84) 1px none;
  padding: 10px;
  margin: 10px;
  color: rgb(253, 254, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align-last: auto;
}

/*tablet*/
@media (min-width: 481px) and (max-width: 800px) {
  /*header y footer */
  .encabezado {
    width: 100%;
  }
  header {
    flex-direction: column;
    justify-content: center;
  }
  .flex-nav {
    width: 100%;
    flex-direction: column;
  }
  footer section {
    text-align: center;
  }
  /* home */
  .parrafo-home {
    text-align: center;
    font-size: 22px;
  }
  .pagina-principal {
    background-image: url(../media/home.jpg);
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  /* peliculas */
  ol iframe {
    width: 100%;
    height: 100%;
  }
  .videos-peliculas {
    flex-direction: column;
  }
  .videos-peliculas1 {
    flex-direction: column;
  }
  .videos-peliculas2 {
    flex-direction: column;
  }
  /*bloopers */
  section ul iframe {
    width: 100%;
  }
  .videos-bloopers {
    flex-direction: column;
  }
  .videos-bloopers1 {
    flex-direction: column;
  }
  .medida-imagen {
    justify-content: center;
    margin-left: 0%;
    width: 100%;
  }
}
/* mediaQ telefono*/
@media (min-width: 0px) and (max-width: 480px) {
  /*header y footer */
  .encabezado {
    width: 100%;
  }
  header {
    flex-direction: column;
    justify-content: center;
  }
  .flex-nav {
    width: 100%;
    flex-direction: column;
  }
  footer section {
    text-align: center;
  }
  /* home */
  .parrafo-home {
    text-align: center;
    font-size: 22px;
  }
  .pagina-principal {
    background-image: url(../media/home.jpg);
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  /* peliculas */
  ol iframe {
    width: 100%;
    height: 100%;
  }
  .videos-peliculas {
    flex-direction: column;
  }
  .videos-peliculas1 {
    flex-direction: column;
  }
  .videos-peliculas2 {
    flex-direction: column;
  }
  /*bloopers */
  section ul iframe {
    width: 100%;
  }
  .videos-bloopers {
    flex-direction: column;
  }
  .videos-bloopers1 {
    flex-direction: column;
  }
  .medida-imagen {
    justify-content: center;
    margin-left: 0%;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
