@use "./variables" as* ;
   
   
   /*bloopers*/
.animate__hinge {
     color: rgb(253, 254, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: center;
    border: rgb(90, 84, 84) 1px none;
    padding-bottom: 20px;
    margin: auto;
}
.bloopers-titulo {
    color: rgb(253, 254, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: center;
    border: rgb(90, 84, 84) 1px none;
    padding-bottom: 20px;
    margin: auto;
}

.galeria-titulo {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    border: rgb(90, 84, 84) 1px none;
    padding: 20px;
    margin: 20px;
}

.videos-bloopers {
   @include flex ;
}

.videos-bloopers1 { 
    @include flex ;
}

.medida-imagen 

{margin-left: 35%;  

    height: 315px;

    width: 560px;
    
 

}
