
    /*historia*/

 .titulo-introduccion
 {color: rgb(253, 254, 255);
font-family: "Montserrat", sans-serif ;
font-size: 60px;
text-align: center;
border: rgb(90, 84, 84) 1px none;
padding: 20px;
margin: auto;
}

.parrafo-introduccion {
    color: rgb(246, 248, 249);
    font-family: "Montserrat", sans-serif;
   font-size: 25px;
    border: rgb(90, 84, 84) 1px none;
    padding: 30px 15px 250px 30px;
    margin: auto;

} 