
@use "./variables" as* ;
    /*peliculas*/

.peliculas-titulo {
    color: rgb(252, 253, 253);
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    text-align: center;
}

.videos-peliculas {@include flex;

}

.videos-peliculas1 {
    @include flex;
}
.videos-peliculas2 {
    @include flex;
}

.box-pelicula{
    border: rgb(90, 84, 84)  1px none;
    padding: 10px;
    margin: 10px;
    color: rgb(253, 254, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align-last: auto;
    
}

