
    /*peliculas*/

.peliculas-titulo {
    color: rgb(252, 253, 253);
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    text-align: center;
}

ol {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-decoration: underline;
    list-style-type: none;
}

.box-pelicula{
    border: rgb(90, 84, 84) 1px none;
    padding: 20px;
    margin: 20px;
    
}
